<html>
<head>
    <title>"BMICalculator"</title>
  
</head>
<body>
    <h1>Body Mass Index Calculator</h1>
    
    <form>
    
    <input id="height" name="height" type="text" placeholder="what is your height (in inches)?"> <br><br>
    <input id="weight" name="weight" type="text" placeholder="what is your weight (in kg)?"> <br>
    <input type="submit" id="enter" name="enter" value="enter">
    
   
    </form>
    
    
    <p>Your BMI
 is: <span id="output">?</span></p>

    <p>This means you are: value = "output" </p> 
</body>
</html>
