{%load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link
      href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900"
      rel="stylesheet"
    />

    <title>Hustle Buddy</title>
	
    <!-- Bootstrap core CSS -->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Other CSS Files -->
    <link rel="stylesheet" href="/static/css/fontawesome.css" />
    <link rel="stylesheet" href="/static/css/templatemo-style.css" />
    <link rel="stylesheet" href="/static/css/owl.css" />
    <link rel="stylesheet" href="/static/css/lightbox.css" />
 
  </head>

  <body id="page-wraper">
    <div>
      <!-- Sidebar Menu -->
      <div class="responsive-nav">
        <i class="fa fa-bars" id="menu-toggle"></i>
        <div id="menu" class="menu">
          <i class="fa fa-times" id="menu-close"></i>
          <div class="container">
            <div class="image">
              <a href="#"><img src="/static/images/logo1.png" alt="Hustle Buddy" /></a>
            </div>
            <div class="author-content">
              <h4>Hustle Buddy</h4>
            </div>
            <nav class="main-nav" role="navigation">
              <ul class="main-menu">
                <li><a href="#section1">Benefits of Workout</a></li>
                <li><a href="#section2">Get Fit! Program</a></li>
                <li><a href="#section3">BMI Calculator</a></li>
                <li><a href="#section4">About</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>

      <!-- SECTION 1 -->

      <section class="section about-me" data-section="section1">
        <div class="container">
          <div class="section-heading">
            <h2>Benefits of Workout</h2>
            <div class="line-dec"></div>
          </div>
          <div class="left-image-post">
            <div class="row">
              <div class="col-md-6">
                <div class="left-image">
                  <img src="/static/images/weighing-scale.jpg" alt="" />
                </div>
              </div>
              <div class="col-md-6">
                <div class="right-text">
                  <h4>Help you control your weight</h4>
                  <p>
                    Along with diet, exercise plays an important role in controlling 
					your weight and preventing obesity. To maintain your weight, the 
					calories you eat and drink must equal the energy you burn. To lose 
					weight, you must use more calories than you eat and drink.
          </p>
          <div class="white-button1">
					<a class="button" href="#popup1">SEE MORE</a>
				  </div>
					<div id="popup1" class="overlay">
					<div class="popup">
					<h2>SEE THIS MORE NOW</h2>
					<a class="close" href="#">&times;</a>
					<div class="content">
            Medical studies do show that once you've lost some weight, becoming more physically active will help prevent you from regaining it. 
            This may be because a regular exercise program increases your metabolism, which means you burn more calories throughout the day — 
            even when you're sleeping.<br></br>
           
            Other benefits of exercise for weight control and healthy aging include:
            <br></br>
            
           • <strong> Your Muscle Mass:</strong> As we get older, we tend to lose muscle and gain fat. In fact, between age 30 and age 80, about 15% of 
            your lean muscle will disappear, resulting in a lower metabolism (and possibly weight gain). But you can use exercise to help maintain 
            our muscles and keep your metabolism higher.<br></br>
           • <strong>Muscle Building and Repair:</strong> After exercising your body must repair tired muscles and build up new ones. Since all of this takes calories 
             to do, exercising more will help you control your weight.<br></br>
           • <strong>Making Digestion Inefficient:</strong> It is possible that exercising after eating will make digestion less efficient, thereby allowing calories 
             that would have been absorbed into your body to pass through.<br></br>
           • <strong>Helping You Make Good Choices:</strong> Exercise reduces stress, helps you sleep, and makes you feel good. All of these reduce your tendency to 
             eat poorly.<br></br>

             Exercise also can help cut your risks for such conditions as heart disease and diabetes and may help you manage your risk if you've already 
             been diagnosed with a chronic illness. It also can give you more energy generally and has been shown to improve older adults' quality of life.<br></br>
             <br><strong>Incorporating Exercise Into Your Lifestyle</strong></br>
             The total amount of exercise you engage in during a day matters more than whether or not you do it in a single session. That’s why small changes in your daily routine can make a big difference in your waistline.
             <br></br>
             <br><strong>Lifestyle habits to consider include:</strong></br>

            <br>• walking or riding your bike to work or while running errands.</br>
            <br>• taking the stairs instead of the elevator.</br>
            <br>• parking farther away from destinations and walking the remaining distance.</br>
            <br></br>
					</div>
				  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="right-image-post">
            <div class="row">
              <div class="col-md-6">
                <div class="left-text">
                  <h4>Reduce your risk of heart diseases</h4>
                  <p>
                    Exercise strengthens your heart and improves your circulation. 
					The increased blood flow raises the oxygen levels in your body. 
					This helps lower your risk of heart diseases such as high cholesterol, 
					coronary artery disease, and heart attack. Regular exercise can also lower 
					your blood pressure and triglyceride levels.
                  </p>
                  <div class="white-button2">
					<a class="button" href="#popup2">SEE MORE</a>
					</div>
					<div id="popup2" class="overlay">
					<div class="popup">
					<h2>SEE THIS MORE NOW</h2>
					<a class="close" href="#">&times;</a>
					<div class="content">
            <strong> Helps your Heart </strong><br></br>
            Regular exercise is an important way to lower your risk of heart disease. Exercising for 30 minutes or more on most days can help you lose weight, improve your cholesterol, and even lower your blood pressure by as many as five to seven points.<br></br>
            A sedentary lifestyle, where your job and your leisure activities involve little or no physical activity, doubles your risk of dying from heart disease. This is similar to the increased risk you'd have if you smoked, had high cholesterol, or had high blood pressure.<br></br>
            <strong> The Good News</strong><br></br>
            It's easier than you might think to improve your health with exercise. You don't have to jog for an hour a day. In fact, some studies have shown greater health benefits from light to moderate exercise simply because people are more likely to stick with it.<br></br>
            Your heart health improves with just 30 minutes of exercise on most days. Two 15-minute segments of exercise or three 10-minute segments still count as 30 minutes. Just make sure the activity is vigorous enough to raise your heart rate. Try the talk/sing test: If you can't talk while you exercise, you're working too hard. If you can sing, you need to work harder.<br></br>

            <strong> hpappens with exercise</strong><br></br>
            Just as exercise strengthens other muscles in your body, it helps your heart muscle become more efficient and better able to pump blood throughout your body. This means that the heart pushes out more blood with each beat, allowing it to beat slower and keep your blood pressure under control.
            When you exercise regularly, your body's tissue (including the heart) does a better job of pulling oxygen from your blood. This allows your heart to work better under stress and keeps you from getting winded during high-intensity activities.
            Physical activity also allows better blood flow in the small blood vessels around your heart. Clogs in these arteries can lead to heart attacks. There's also evidence that exercise helps your body make more branches and connections between these blood vessels, so there are other routes for your blood to travel if the usual path is blocked by narrow arteries or fatty deposits.
            Exercise also increases your levels of HDL cholesterol, the "good" cholesterol that lowers heart disease risk by flushing the artery-clogging LDL or "bad" cholesterol out of your system.<br></br>
            <strong> with lowering your risk for heart disease, exercise:</strong><br></br>

            <br>• Keeps your weight down.</br>
            <br>• Improves your mood.</br>
            <br>• Lowers your risk for some types of cancer.</br>
            <br>• Improves your balance.</br>
            <br>• Reduces your risk of osteoporosis by increasing your bone mass.</br>
            <br>• Gives you more energy.</br>
            <br>• Helps you sleep better.</br>
            <br></br>
            Your doctor can help you design an exercise routine that's right for you. Be sure to check with your doctor if you haven't exercised in a long time or if you have a history of high blood pressure, heart disease, stroke, dizziness, or exercise-related pain.
            
            <br></br>
					</div>
					</div>
					</div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="right-image">
                  <img src="/static/images/health.jpg" alt="" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
	  
	  <section class="section about-me" data-section="section1">
        <div class="container">
          <div class="section-heading">
          <div class="left-image-post">
            <div class="row">
              <div class="col-md-6">
                <div class="left-image">
                  <img src="/static/images/mental-health.jpg" alt="" />
                </div>
              </div>
              <div class="col-md-6">
                <div class="right-text">
                  <h4>Improve your mental health and mood</h4>
                  <p>
                    During exercise, your body releases chemicals that can improve 
					your mood and make you feel more relaxed. This can help you deal 
					with stress and reduce your risk of depression.
                  </p>
                  <div class="white-button3">
					<a class="button" href="#popup3">SEE MORE</a>
				  </div>
					<div id="popup3" class="overlay">
					<div class="popup">
					<h2>SEE THIS MORE NOW</h2>
					<a class="close" href="#">&times;</a>
					<div class="content">           
            <br>Exercise improves mental health by reducing anxiety, depression, and negative mood and by improving self-esteem and cognitive function. Exercise has also been found to alleviate symptoms such as low self-esteem and social withdrawal.</br>
            <br>Exercise is a natural and effective anti-anxiety treatment. It relieves tension and stress, boosts physical and mental energy, and enhances well-being through the release of endorphins. Anything that gets you moving can help, but you’ll get a bigger benefit if you pay attention instead of zoning out.</br>
            <br>People who exercise regularly tend to do so because it gives them an enormous sense of well-being. They feel more energetic throughout the day, sleep better at night, have sharper memories, and feel more relaxed and positive about themselves and their lives. And it’s also a powerful medicine for many common mental health challenges.</br>
            <br>Regular exercise can have a profoundly positive impact on depression, anxiety, and ADHD. It also relieves stress, improves memory, helps you sleep better, and boosts your overall mood. And you don’t have to be a fitness fanatic to reap the benefits. Research indicates that modest amounts of exercise can make a real difference. No matter your age or fitness level, you can learn to use exercise as a powerful tool to deal with mental health problems, improve your energy and outlook, and get more out of life.</br>
            <strong><br>Health benefits from regular exercise that should be emphasized and reinforced by every mental health professional to their patients include the following: </br></strong>
           
            <br>1. Improved sleep</br>
            <br>2. Increased interest in sex</br>
            <br>3. Better endurance</br>
            <br>4. Stress relief</br>
            <br>5. Improvement in mood</br>
            <br>6. Increased energy and stamina</br>
            <br>7. Reduced tiredness that can increase mental alertness</br>
            <br>8. Weight reduction</br>
            <br>9. Reduced cholesterol and improved cardiovascular fitness</br>
          </div>
					</div>
					</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="right-image-post">
            <div class="row">
              <div class="col-md-6">
                <div class="left-text">
                  <h4>Help keep your thinking, learning, and judgment skills sharp as you age</h4>
                  <p>
                    Exercise stimulates your body to release proteins and 
					other chemicals that improve the structure and function 
					of your brain.
                  </p>
                  <div class="white-button4">
					<a class="button" href="#popup4">SEE MORE</a>
				  </div>
				<div id="popup4" class="overlay">
			  <div class="popup">
				<h2>SEE THIS MORE NOW</h2>
			  <a class="close" href="#">&times;</a>
			  <div class="content">
          Exercise boosts your memory and thinking skills both directly and indirectly. It acts directly on the body by stimulating physiological changes such as reductions in insulin resistance and inflammation, along with encouraging production of growth factors — chemicals that affect the growth of new blood vessels in the brain, and even the abundance, survival, and overall health of new brain cells.
          It also acts directly on the brain itself. Many studies have suggested that the parts of the brain that control thinking and memory are larger in volume in people who exercise than in people who don't.<br></br>
          <br><strong> Brain boost</strong> </br>
          <br>Physical activity has long been known to reduce the risk of a number of diseases, including type-2 diabetes and some cancers, and it is thought to play a role in warding off the brain's natural decline as we enter middle age.</br>
          <br>The theory is that through exercise the brain receives a greater supply of blood, oxygen and nutrients that boost its health as well as a growth hormone that helps the formation of new neurons and connections.</br>
          <br>Exercise can also boost memory and thinking indirectly by improving mood and sleep, and by reducing stress and anxiety. Problems in these areas frequently cause or contribute to cognitive impairment.</br>
          <br>Exercise helps memory and thinking through both direct and indirect means. The benefits of exercise come directly from its ability to reduce insulin resistance, reduce inflammation, and stimulate the release of growth factors—chemicals in the brain that affect the health of brain cells, the growth of new blood vessels in the brain, and even the abundance and survival of new brain cells.
          Indirectly, exercise improves mood and sleep, and reduces stress and anxiety. Problems in these areas frequently cause or contribute to cognitive impairment.
          Many studies have suggested that the parts of the brain that control thinking and memory (the prefrontal cortex and medial temporal cortex) have greater volume in people who exercise versus people who don’t. “Even more exciting is the finding that engaging in a program of regular exercise of moderate intensity over six months or a year is associated with an increase in the volume of selected brain regions,” says Dr. Scott McGinnis, a neurologist at Brigham and Women’s Hospital and an instructor in neurology at Harvard Medical School.</br>
          <br></br>
            </div>
	         </div>
          </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="right-image">
                  <img src="/static/images/right-image.jpg" alt="" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- SECTION 2 -->

      <section class="section my-services" data-section="section2">
        <div class="container">
          <div class="section-heading">
            <h2>Get Fit! Program</h2>
            <div class="line-dec"></div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="service-item">
                <div class="first-service-icon service-icon"></div>
                <a href="{% url 'peach' %}"><h4>Peachy Challenge</h4></a>
                <p>
                  <b>This program is focus on make your butt bigger</b><br>
                  <b>Type:</b> Booty, Abs, Full Body <br>
                  <b>Equipment:</b> Fitness Mat, Dumbells (Optional), Resistance Bands (Optional)
                </p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="service-item">
                <div class="first-service-icon service-icon"></div>
                <a href="{% url 'peach' %}"><h4>Flat Belly Challenge</h4></a>
                <p>
                  <b>This program is designed to lose belly fat</b><br>
                  <b>Type:</b> Weight loss, Abs, Full Body <br>
                  <b>Equipment:</b> Fitness Mat, Resistance Bands (Optional)
                </p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="service-item">
                <div class="first-service-icon service-icon"></div>
                <a href="{% url 'peach' %}"><h4>Slim Thigh Challenge</h4></a>
                <p>
                  <b>This program is designed to tone your legs without making them bulky</b><br>
                  <b>Type:</b> Weight loss, Abs, Full Body <br>
                  <b>Equipment:</b> Fitness Mat, Resistance Bands (Optional)
                </p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="service-item">
                <div class="first-service-icon service-icon"></div>
                <a href="{% url 'peach' %}"><h4>Full Body Shred Challenge</h4></a>
                <p>
                  <b>This program is designed to tone your legs without making them bulky</b><br>
                  <b>Type:</b> Weight loss, Abs, Full Body <br>
                  <b>Equipment:</b> Fitness Mat
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="section my-work" data-section="section2">
        <div class="container">
          <div class="section-heading">
            <h2>Zumba Program</h2>
            <div class="line-dec"></div>
            <span>
				Zumba Program targets lots of different muscle groups at once for total body toning. 
				Boosts your heart health. You not only get aerobic benefits (it really gets 
				your heart rate up), you also get anaerobic benefits – the kind that help you 
				maintain a good cardiovascular respiratory system. Helps you de-stress.
			</span>
          </div>
		  
		  <center>
          <div>
            <div class="col-md-6">
              <div class="service-item">
                <a href="{% url 'peach' %}"><h4>Let's get started!</h4></a>
              </div>
            </div>
          </div>
		  </center>
        </div>
      </section>

      <!-- SECTION 3 -->

      <section class="section my-work" data-section="section3">
        <div class="container">
          <div class="section-heading">
            <h2>BMI Calculator</h2>
            <div class="line-dec"></div>
            <span>
        BMI is a reliable indicator of body fatness for most people.<br / >
        It is used to screen for weight categories that may lead to health problems. <br / >
        This calculator provides BMI and the corresponding weight category. <br / >
            </span>
          </div>
      
      <center>
          <div>
            <div class="col-md-6">
              <div class="service-item">
                <a href="{% url 'bmi' %}"><h4>Let's get started!</h4></a>
              </div>
            </div>
          </div>
      </center>
        </div>
      </section>

      <!-- SECTION 4 -->

      <section class="section contact-me" data-section="section4">
        <div class="container">
          <div class="section-heading">
            <h2>About</h2>
            <div class="line-dec"></div>
          </div>
		  
		  <div class="left-image-post">
            <div class="row">
              <div class="col-md-6">
                <div class="left-image">
                  <img src="/static/images/author.jpg" alt="" />
                </div>
              </div>
            <div class="col-md-6">
              <div class="right-text">
				  <p>
					Hi! I'm Milleth, i'm a thrid year college student currently taking up Bachelor of Science in Industrial Education
					at Technological University of the Philippines-Cavite Campus. Right now, i'm a fitness enthusiast so I decided
					to make myself fit by doing workouts at home.
				  </p>
          <p>
          Since the start of the coronavirus pandemic, it's become even harder to stick to a solid routine. With most gyms closed,
					the fitness world for most of us has shifted to at-home or outdoor workouts. So I made this website to force us to 
					self-motivate even more as we've found alternative workout routines.
          </p>
				  <p>
					I believe fitness should be accessible to everyone, everywhere, regardless of income level or access to a gym. That's
					why I offer free, full-length workout videos, the most affordable and eefective workout programs on the web.
				  </p>
				  <p>
					<br />My main goal is to make health and fitness ATTAINABLE, AFFORDABLE AND APPROACHABLE.
				  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
	  
    </div>
	
    <!-- Scripts -->
    <!-- Bootstrap core JavaScript -->
	</script>
	
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="/static/js/isotope.min.js"></script>
    <script src="/static/js/owl-carousel.js"></script>
    <script src="/static/js/lightbox.js"></script>
    <script src="/static/js/custom.js"></script>
    <script>
      //according to loftblog tut
      $(".main-menu li:first").addClass("active");

      var showSection = function showSection(section, isAnimate) {
        var direction = section.replace(/#/, ""),
          reqSection = $(".section").filter(
            '[data-section="' + direction + '"]'
          ),
          reqSectionPos = reqSection.offset().top - 0;

        if (isAnimate) {
          $("body, html").animate(
            {
              scrollTop: reqSectionPos
            },
            800
          );
        } else {
          $("body, html").scrollTop(reqSectionPos);
        }
      };
      var checkSection = function checkSection() {
        $(".section").each(function() {
          var $this = $(this),
            topEdge = $this.offset().top - 80,
            bottomEdge = topEdge + $this.height(),
            wScroll = $(window).scrollTop();
          if (topEdge < wScroll && bottomEdge > wScroll) {
            var currentId = $this.data("section"),
              reqLink = $("a").filter("[href*=\\#" + currentId + "]");
            reqLink
              .closest("li")
              .addClass("active")
              .siblings()
              .removeClass("active");
          }
        });
      };

      $(".main-menu").on("click", "a", function(e) {
        e.preventDefault();
        showSection($(this).attr("href"), true);
      });

      $(window).scroll(function() {
        checkSection();
      });
    </script>
	</div
  </body>
</html>
